<nav class="navbarfooter fixed-bottom navbar-light bg-light">
    {%- if site.show-style-guide %}

    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <img src="assets/images/footer-icoon.png" class="breedte">
                </div>
                <div class="col-4 kleine_tekst">
                    <p>Joren Verneert © 2017
                        <br>in samenwerking met Eva Vanden Broeck
                    </p>
                </div>
                <div class="col-2 kleine_tekst">
                        <p>probleem@greentime.be
                    </div>
                <div class="col-4 kleine_tekst">
                    <a href="disclaimer.html" class="">
                        <p align="right">Disclaimer</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {%- endif %}
</nav>