---
---
@charset "UTF-8";

@import "main";

body{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 160%;
    background-color: rgb(229,213,197);
    color: rgb(127,119,112);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0; 
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 25px;
    text-align: center;
    color: #E15200;
    font-weight: bold;
}

h3{
    color: rgb(127,119,112);
    text-align: left;
    margin-bottom: 15px;
    margin-top: 30px;
}

.sterretje{
    color: #E15200;
}

.carousel-caption {
    position: absolute;
    right: 9%;
    bottom: 0;
    left: 0%;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 40px;
}

p {
    margin-bottom: 0; 
}

.kleine_tekst,
.verplicht{
    font-size: 12px;
}

.verplicht{
    color: #E15200;
}

article{
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.article_2 {
    margin-left: 15px;
    margin-right: 15px;
}

.logo{
    height: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.kader{
    background-color: white;
    border: 10px solid rgb(229,213,197);
    margin-top: 5px;
}

.kader-images{
    background-color: rgb(82,108,117);
}

.breedte{
    width: 100%;
}

.navbar{
    padding: 0;
}

.bg-light{
    background-color: transparent !important;
}

.navbarfooter{
    padding: 17px;
    margin-top: 40px;
    border: none;
    background-color: rgb(82,108,117) !important;
    color: white;
}

a{
    color: white;
}  

.fixed-bottom {
    position: relative;
}

.ervaring-foto{
    width: 100%;
}


tr{
    background-color: rgb(127,119,112);
    color: white;
}


.navigatie{
    background-color:rgb(127,119,112);
    margin-bottom: 15px;
}

.nav-item{
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-light .navbar-toggler{
    border-color: transparent;
}

.nav-item.active{
    color: rgb(127,119,112);
}


.btn-secondary{
    width: 30px;
    border-radius: 0%;
    font-size: 12px;
}

.btn-primary {
    background-color:#E15200;
    border-color: transparent;
    border-radius: 0%;
    margin-top: 10px;
    font-size:12px;
}
.btn-primary:hover {
    background-color:  rgb(168,212,48);
    border-color: transparent; 
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none; 
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #E15200;
    border-color: transparent; 
}
.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: rgb(168,212,48);
    border-color: transparent;
    box-shadow: none; 
}

.links{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 320px;
    padding: 30px;
    background-color: #1b1b1b;
    background-image: linear-gradient(to bottom, #222, #111);
    background-repeat: repeat-x;
    border-color: #252525;
    color: #b2bbbd;
}

.social-buttons{
    position: fixed;
    z-index: 999999;
    top: 170px;
    left: 0px;
}

.social-buttons-2{
    display: none;
}

.iconen{
    left: 0;
    position: absolute;
    width: 33px;
    height: 33px;
    display: inline-block;
    background-color: #E15200;
    padding: 5px;
}


.col-form-label {
    padding-bottom: 30px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
    background-color: rgb(168,212,48);
}

.custom-control-indicator {
    background-color: rgb(127,119,112);
}

.btn-secondary {
    color: #fff;
    background-color: rgb(127,119,112);
    border-color: rgb(127,119,112);
}

.form-control {
    color: white;
    background-color: rgb(127,119,112);
    border: none;
    border-radius: 0;
}
.form-control:focus {
    color: white;
    background-color: rgb(127,119,112);
    box-shadow: none; 
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0; 
}
.custom-control-input:focus ~ .custom-control-indicator {
        box-shadow: none; 
}
.custom-control-input:active ~ .custom-control-indicator {
        background-color: rgb(127,119,112); 
}



@media only screen and (min-width: 576px) {
    body{
        font-size: 17px;
        line-height: 140%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 17px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    article{
        margin-bottom: 50px;
        margin-left: 65px;
        margin-right: 65px;
    }
    h3{
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .kader{
        border: 10px solid rgb(229,213,197);
        margin-top: 40px;
    }
    .btn-secondary{
        width: 40px;
        font-size: 17px;
    }
    .btn-primary {
        margin-top: 40px;
        font-size:17px;
    }
 }
 
 @media only screen and (min-width: 768px) {
    .btn-secondary{
        width: 60px;
    }
    .navbar{
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 40px;
        border:none;
        background-color:rgb(127,119,112);
    }
    .social-buttons{
        display: none;
    }
    .social-buttons-2{
        position: fixed;
        z-index: 999999;
        top: 85px;
        left: 0px;
        display:flex;
    }
    .iconen{
        width: 60px;
        height: 60px;
        padding: 15px;
    }
    .logo{
        height: 150px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .btn-secondary-2{
        width: 53px;
        font-size: 17px;
    }
 }
 
 @media only screen and (min-width: 992px) {
    .btn-secondary{
        width: 90px;
    }
    .btn-secondary-2{
        width: 35px;
    }
    .navbar{
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-bottom: 2px solid #E15200;
        border-top: 2px solid #E15200;
    }
    .navigatie{
        background-color: transparent;
    }
 }
 
 @media only screen and (min-width: 1200px) {
    .btn-secondary{
        width: 110px;
    }
    .btn-secondary-2{
        width: 38px;
    }
 }

